/* Regola di Reset */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Palette Figma
*******/
:root{
--Body:rgba(255,200,200,0.5);
--PrimaSection:rgba(255, 0, 0, 1);
--SecondaSection:rgba(0, 128, 0, 1);
--TerzaSection:rgba(255, 255, 0, 1);
--First_Text:rgba(255, 255, 0, 1);
--Second_Text:rgba(0, 128, 0, 1);
}

/******* 
Utilities
*******/

img {
    background-position: center;
    width: 650px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

.Container {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.Text {
    text-align: center;
    width: 400px;
    height: 75px;
    position: absolute;
    bottom: 12rem;
    left: 50%;
    word-spacing: 25px;
    text-transform: uppercase;
    transform: translate(-50%);
}

/* Font interno al Body */

body {
    width: 1000px;
    font-family: 'Dela Gothic One', cursive;
}

/* NavBar
*******/
nav {
    width: 140px;
    height: 25px;
    position: absolute;
    left: 85%;
    top: 30px;
}

/* Bottoni della NavBar - Valido per Bonus */

.btn {
    font-size: 0.75rem;
    float: left;
    color: black;
    background-color: white;
    text-decoration: none;
}

.btn_style1 {
    padding: 3px 9px;
    border-radius: 50%;
    margin-right: 30px;
}

.btn_style2 {
    padding: 3px 8px;
    border-radius: 50%;
    margin-right: 30px;
}

.btn_style3 {
    padding: 3px 8px;
    border-radius: 50%;
}

/* Zona dei vari ID delle sezioni
********/

#First {
    background-color: var(--PrimaSection);
    color: var(--First_Text);
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Prodotto Zona 2
*****/

#Second {
    background-color: var(--SecondaSection); 
    color: var(--First_Text);
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Prodotto Zona 3
*****/

#Third {
    background-color: var(--TerzaSection); 
    color: var(--Second_Text);
    width: 100%;
    height: 100vh;
    position: relative;
}










